@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

html, body {
  margin: 0;
}
.container {
  margin: 80px auto 0 auto;
  max-width: 1200px;
}
.nav-container {
  margin: auto;
}
.nav-container svg {
  color: #FCF9EC;
}
a {
  text-decoration: none;
}
